.guidelines-container {
  .faq-content {
    h3 {
      font-family: Gilroy;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      text-transform: capitalize;

      color: #000000;
    }
    .faq-desc-textarea {
      background: #ffffff;
      border: 1px solid #e4e4e4;
      box-sizing: border-box;
      border-radius: 15px;
      height: 167px;
    }
  }
}
