.admin-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  background: #f9f9f9;
  min-height: 1525px;

  .sidebar {
    background: #ffffff;
    width: 355px;

    ul {
      position: absolute;
      width: 100%;
      height: 472px;
      //left: 21px;
      top: 98px;

      a {
        text-transform: capitalize;
        color: #979b9b;
        height: 27px;
      }

      li {
        height: 60px;
      }
    }

    /*ul li a:hover {
      height: 60px;
      color: #007749;
      background: #c1ffcc;
      border-radius: 30px 0px 0px 30px;
    }*/
    ul li a {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
    }
    ul li a.active {
      height: 60px;
      background: #c1ffcc;
      border-radius: 30px 0px 0px 30px;
      color: #007749;
    }

    .btn-logout {
      font-family: Gilroy;
      font-weight: 600;
      font-size: 18px;
      line-height: 20px;
      /* identical to box height, or 111% */

      text-align: center;

      color: #ff4848;
      background: rgba(255, 72, 72, 0.31);
      border-radius: 16px;
      //width: 260px;
      height: 65px;
      border: none;
    }
  }
}
