.sub-view-post-container {
  h2 {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
  }
  p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    /* or 24px */

    color: #979b9b;
  }
  .image-wrapper {
    position: relative;
    width: fit-content;
    height: fit-content;
  }
  .view-post-img {
    width: 503px;
    height: 219px;
  }
  .view-img-badge {
    position: absolute;
    left: 3%;
    top: 180px;
    //top: 10% !important;
    width: 30.4px;
    height: 30.4px;
  }
  .view-post-info {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */

    text-transform: capitalize;
    height: 201px;
    .col {
      background: #ffffff;
      border-radius: 8px;
    }
    .label-name {
      color: #898a8d;
    }
    .label-value {
      color: #000000;
    }
  }
  .view-post-location {
    height: 201px;
    background: #ffffff;
    border-radius: 8px;

    .col {
      border-radius: 8px;
    }
    hr {
      border: 1px solid #e3e3e3;
    }
  }
}
