@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    background: #F9F9F9;
    height: 1525px;
}
.sidebar{
    background: #FFFFFF;
    width: 295px;

    ul {
        position: absolute;
        width: 100%;
        height: 472px;
        //left: 21px;
        top: 98px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;

        a {
            font-size: 18px;
            line-height: 27px;
            text-transform: capitalize;
            color: #979B9B;
            height: 27px;
            //margin-top: 10px;
            
            img {
                margin-right:15px;
                margin-left:5px;
            }
        }

        li {
            height: 60px;
        }

        img {
            width: 20px;
            height: 20px;
            left: 0px;
            top: 4px;
        }
    }

    ul li a:hover {
        height: 60px;
        color:#007749;
        background: #C1FFCC;
        border-radius: 30px 0px 0px 30px;
    }

    ul li a.active {
        height: 60px;
        color:#007749;
        background: #C1FFCC;
        border-radius: 30px 0px 0px 30px;
    }
}

#content{
    
    font-family: Gilroy;
    font-style: normal;
    width: 100%;
    
    h2 {
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
        color: #000000;
    }
    .card {
        
        height: 100px;
        background: #FFFFFF;
        border-radius: 20px;
        font-weight: 600;

        h4 {
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            font-size: 24px;
            color: #181B1B;
        }

        h5 {
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
        }

        .card-body {
            .d-board {
                font-weight: 600;
                opacity: 0.5;
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
    
    .most-recent {
        height: 263px;
        background: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.09);
        border-radius: 15px;
        
        img {
            background: #181B1B;
            border-radius: 8px; 
            //width: 230px;
        }

        a {
            width: 93px;
            height: 34px;
            background: #FFC74A;
            border-radius: 10px;
            font-size: 12px;
            font-weight: bold;
        }

        h5 {
            font-size: 18px;
            line-height: 21px;
            text-transform: capitalize;
            color: #181B1B;
            width: 159px;
        }
    }
    
    .recent-guides {
        height: 219px;
        background: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.09);
        border-radius: 15px;
        
        img {
            width: 76px;
            height: 76px;
        }

        p {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: #898A8D;
        }

        h4 {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            color: #181B1B;
        }
    }
    
    .most-active{
        height: 219px;
        background: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.09);
        border-radius: 15px;
    
        img {
            width: 76px;
            height: 76px;
        }

        p {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: #898A8D;
        }

        h4 {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            color: #181B1B;
        }
    }
    
    .see-all {
        a {
            float:right;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            text-align: right;
            text-decoration-line: underline;
            text-transform: capitalize;
            color: #007749;
        }
    }
}