.guide-container{
    
    font-family: Gilroy;
    font-style: normal;
    width: 100%;
    
    h2 {
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
        color: #000000;
    }

    nav {
        form {      
            justify-content: center;
            display: flex;
        }

        .btn-guide {
            background: #FFFFFF;
            border-radius: 15px;
            height: 66px;
            width: 141px;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            text-transform: capitalize;
            color: #898A8D;
            padding-top: 20px;
        }

        .active {
            border: 1px solid #007749;
            box-sizing: border-box;
            color: #007749;
        }
        
        input, select {
            background: #FFFFFF;
            font-weight: 600;
            font-size: 14px;
            font-style: normal;
            height: 42px;
        }
        
        .input-group-1 {
            width: 160px;
            border-left: none;
        }

        .input-group-2 {
            width: 142px;
        }

        .input-group-text {
            background: #FFFFFF;
            border: 1px solid #E4E4E4;
            border-radius: 20px;
        }

        .input-search {
            border: 1px solid #E4E4E4;
            border-radius: 20px;
            
            .input-group-text {
                border-right: none;
            }
        }

        select {
            border: 1px solid #E3E3E3;
            box-sizing: border-box;
            border-radius: 14px;
            color: rgba(9, 17, 14, 0.5);
        }

        .btn-filter {
            width:99px;
            height: 42px;
            padding-top: 10px;
            background: #FFFFFF;
            border: 1px solid #E3E3E3;
            box-sizing: border-box;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.06);
            border-radius: 14px;
            color: #007749;
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;

            letter-spacing: 0.2px;

            color: #007749;
        }
    }

    .table {
        background: #FFFFFF;
        border-radius: 20px;
        height: 776px;
        //width: 1069px;

        th {
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            /* identical to box height, or 129% */

            text-transform: capitalize;

            color: #898A8D;
            
           padding: 15px;
        }
        
        tr {
            border-bottom: 1px solid #E3E3E3;
        }

        td{
            padding: 15px;
            
            button {
                background: #FFFFFF;
                border: 1px solid #ADB1B1;
                border-radius: 16px    
            }
            .btn-view-application{
                width: 125px;
                height: 34px;
                font-size: 12px;
                line-height: 20px;
                font-weight: 600;
                color: #007749;
            }
            .btn-approve{
                background: #BDFFC8;
                border: 1px solid #BDFFC8;
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.06);
                border-radius: 14px;
                color: #22A739;
                width: 119px;
                height: 35px;  
                font-weight: bold;
                font-size: 14px;
                line-height: 20px;     
                
                img{
                    width: 16px;
                    height: 11px;
                    //border: 2px solid #22A739;
                }
            }
            .btn-reject{
                width: 78px;
                height: 35px;
                font-weight: bold;
                font-size: 14px;
                line-height: 20px;
                /* identical to box height, or 143% */

                letter-spacing: 0.2px;

                color: #FF4848;
                background: #FFC7C7;
                border: 1px solid #FFC7C7;
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.06);
                border-radius: 14px;
            }
        }
    }

    .navigation{
        font-family: Mulish;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        /* or 143% */

        letter-spacing: 0.3px;

        /* grayscale / gray */

        color: #9FA2B4;

        select {
            width: 60px;
            opacity: 0.5;
        }

        //.btn {
        //   width: 6px;
        //}
    }
}
